<aside class="sidebar">
  <header>
    <a class="cover-avatar" href="{{ site.baseurl }}/">
      <img class="avatar" src="{{ site.baseurl }}/assets/img/me.jpg" alt="{{ site.author }}">
    </a>
    <div class="author-name">{{ site.author }}</div>
    <p class="bio">一枚前端，当前坐标上海。没事敲敲代码，看看小说</p>
  </header>
  <footer>
    <section class="contact">
      <h3>联 系 我</h3>
      <ul>
        {% if site.github_username %}
        <li>
          <a href="http://github.com/{{ site.github_username }}">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        {% if site.email %}
        <li>
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </section>
    <p>2017 © Carina Wei</p>
  </footer>
</aside>
