---
layout: default
---

<div class="home">
  <ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      <a href="{{ post.url | relative_url }}">
        <h2 class="article-title">{{ post.title | escape }}</h2>
      </a>
      <ul class="categories">
      {% for category in post.categories %}
        <li class="category-item">{{ category }}</li>
      {% endfor %}
      </ul>
      <p>{{ post.excerpt }}</p>
      <span class="date">{{ post.date | date: "%F %H:%M:%S" }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
